<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/DataTables/css/dataTables.bootstrap4.min.css' />
  </head>
  <body>
    <div class="row col-12">
      <h2 class="col-9 ml-0 pl-0">Search Results</h2>
      <a href="/admin_logout" class="col-3 text-right">Logout</a>
    </div>
    <div class="col-sm-12 mt-2">
      <table id="table_id" class="table table-striped w-100">
          <thead>
              <tr>
                  <th class="width-20">ID</th>
                  <th class="width-20">Topic</th>
                  <th class="width-20">Language</th>
                  <th class="width-60">Search Result</th>
              </tr>
          </thead>
       </table>
    </div>
  </body>

  <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/libraries/DataTables/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/libraries/DataTables/js/dataTables.bootstrap4.min.js"></script>

  <script type="text/javascript">
    $(document).ready( function () {
      let table = $('#table_id').DataTable({
        ajax: {
            url: '/api/search_results',
            dataType: 'json',
            type: 'POST',
            dataSrc: "data",
            data: function (d) {
              d.topic = $('#topic').val();
              d.language = $('#language').val();
            }
        },
        columns: [
          { data: 'id' },
          { data: 'topic' },
          { data: 'language' },
          { data: 'result',
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              const result = JSON.stringify(sData);
              const truncate = result.length > 100 ? `${result.substring(0, 100)}...` : result;
              let url = '<a href="/admin/search_results/'+oData.id+'"><pre>'+truncate+'</pre></a>'
              $(nTd).html(url);
            }
          },
        ],
        columnDefs: [
            { className: "width-20", "targets": [ 0 ] },
            { className: "width-20", "targets": [ 1 ] },
            { className: "width-60", "targets": [ 2 ] },
        ],
        bLengthChange: false,
        pageLength: 20,
      });
    });
  </script>
</html>
